In [18]:
import pandas as pd
import matplotlib.pyplot as plt
from qiskit.visualization import plot_histogram

df = pd.read_csv('csv/real_device_3SAT.csv')
df.head(10)

   state  Probabilities
0      0          9.570
1      1         13.965
2     10          2.051
3     11          2.539
4    100         24.316
5    101         35.645
6    110          4.395
7    111          7.520

In [22]:
dic = {'000': 96, '001': 140, '010': 21, '011': 25, '100': 243, '101': 357, '110': 44, '111': 75}
res = plot_histogram(dic)
res.savefig('real_device_3SAT')